addict
numpy==1.26.4
numba
lap
scipy
torchsummary
onnx==1.12.0
onnxruntime==1.12.0
opencv-python==4.5.4.60
torch==1.11.0  # CPU-only version
torchvision==0.12.0  # CPU-only version
torchaudio==0.11.0  # CPU-only version
